/* 
FILE: starmaze.css

AUTHORS:

William Clifford <wobh@yahoo.com>

DESCRIPTION:

Stylesheet for the Starmaze game

NOTES:

Keyframe syntax

@keyframes { animation_name key-frames-selector {css_styles;} }
*/

