---
title: Starmaze
author: William Clifford
description: Starmaze game in your browser
---

<%= partial "header" %>

<article class="starmaze">
  <form>
    <table>
      <tr>
        <td><input type="submit" value="1" /></td>
        <td><input type="submit" value="2" /></td>
        <td><input type="submit" value="3" /></td>
      </tr>
      <tr>
        <td><input type="submit" value="4" /></td>
        <td><input type="submit" value="5" /></td>
        <td><input type="submit" value="6" /></td>
      </tr>
      <tr>
        <td><input type="submit" value="7" /></td>
        <td><input type="submit" value="8" /></td>
        <td><input type="submit" value="9" /></td>
      </tr>
    </table>
  </form>
</article>

<% partial "footer" %>
